.pull-right {
  float: right;
}

.tar {
  text-align: right;
}

.tac {
  text-align: right;
}

.tal {
  text-align: left;
}

.white {
  color: #fff;
}

.fs13 {
  font-size: 13px !important;
}

.right-135 {
  right: -135px;
}

.relative {
  position: relative;
}

.border-bottom-line {
  border-bottom: 1px solid rgb(221, 243, 243);
}

.border-line {
  border: 1px solid rgb(221, 243, 243);
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
}

.word-break {
  word-wrap:break-word
}
