$--color-primary: #1890ff;
$--color-success: #00C811;
$--color-warning: #FAAD14;
$--color-danger: #FF4D4F;
$--color-text-regular: #595C6B;
$--color-black: #EFF1F5;
$f8: #f8f8f8;
$gray:#f2f2f2;
$gray2:#8299AB;
$gray4:#d3dce6;
$gray8:#8C8E98;
$cutline: #ebeef5;

$white:#fff;

$red: #FF4949;
$orange: #F7BA2A;
$yellow: #ffcb00;
