.pl-search-component {
  margin-top: 10px;
  margin-bottom: 5px;
}

.pl-search-content {
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 0px;
  background: #fff;
  overflow: hidden;
}

.pl-search-operation {
  background: #fff;
  margin-top: 10px;
  padding: 15px 30px;
  overflow: hidden;
}

