.page-welcome {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 64px);

  .welcome-banner-1{
    height: calc(100vh - 64px);;
    color: #fff;
    background: url(../../assets/images/banner-1.webp);
    background-size: 100% 100%;
  }
  .welcome-banner-2{
    height: calc(100vh - 64px);;
    color: #fff;
    background: url(../../assets/images/banner-2.webp);
    background-size: 100% 100%;
  }
  .welcome-banner-3{
    height: calc(100vh - 65px);;
    color: #fff;
    background: url(../../assets/images/banner-3.webp);
    background-size: 100% 100%;
  }
  .welcome-banner-4{
    height: calc(100vh - 65px);;
    color: #fff;
    background: url(../../assets/images/banner-4.webp);
    background-size: 100% 100%;
  }
}
  

